.jumbotron {
    background-image: url(./assets/bkgd.jpg);
    background-position: 10% 20%;
    height: 100vh;
    opacity: .5;

    /* text */
    text-align: center;
    color: white;
    font-family: Barlow;
    
}

.jumbotron h1 {
    font-weight: 700;
    color: #7B549F;
    opacity: 1;
}